<%- include('includes/head.ejs'); %>
</head>
<%- include('includes/navigation.ejs'); %>

<body>
    <main>
        <% if (clienti.length > 0) { %>


        <td>
            <h1><%= title %></h1>
        </td>
            <table class="highlight">
                <!--td>
                    <div class="card__actions">
                        <form action="/clienti/edit-customer" method="GET">
                            <div style="flex-flow: column;">
                                <input type="hidden" value="<%= false %>" name="editing">
                                <button class="btn" style="margin-left: 1rem;" type="submit">Aggiungi cliente</button>
                            </div>
                            </form>
                    </div-->
                </td>

                <% for (let cliente of clienti) { %>
                <tr>
                    <td>
                        <customer>
                            <header>
                                <div>
                                    <%= cliente.name + ' ' + cliente.surname %>
                                </div>
                            </header>
                        </customer>
                    </td>
                    <td><i class="material-icons">edit</i></td>
                </tr>
                <% } %>

                <% } else { %>
                <h3>Nessun cliente trovato</h3>
                <% } %>
            </table>

            <div class="fixed-action-btn">
                <a href="/clienti/edit-customer" class="btn-floating btn-large red">
                    <i class="large material-icons">add</i>

                </a>

                <!--ul>
                    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                    <li><a href="/clienti/edit-customer" class="btn-floating yellow darken-1"><i
                                class="material-icons">format_quote</i></a></li>
                </ul-->
            </div>

    </main>

    <%- include('includes/end.ejs'); %>