<%- include('./includes/head.ejs') %>
<link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
   <%- include('./includes/navigation.ejs') %>

    <main>
        Editing = <%= editing %>
        <form class="product-form" action="/clienti/<% if (editing) { %>edit-customer<% } else { %>add-customer<% } %>" method="POST">
            <hr>
            <hr>
            <div class="form-control">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name" value="<% if (editing) { %><%= clienti.name %><% } %>">
            </div>
            <div class="form-control">
                <label for="surname">Cognome</label>
                <input type="text" name="surname" id="surname" value="<% if (editing) { %><%= clienti.surname %><% } %>">
            </div>
            
            
                <input type="hidden" value="<%= clienti.id %>" name="customerId">
                <button class="btn" type="submit"><% if (editing) { %>Aggiorna cliente<% } else { %>Salva<% } %></button>

            </form>
    </main>
<%- include('./includes/end.ejs') %>