<%- include('includes/head.ejs'); %>
  </head>

  <%- include('includes/navigation.ejs'); %>
  <body>
    <div class="main">
    <h1><%= path %></h1>
    <p>Welcome to <%= name %></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut bibendum tortor, imperdiet molestie arcu. Aenean id mauris sem. Nam magna mauris, vestibulum sit amet luctus ac, commodo ac mauris. Suspendisse potenti. Praesent ac elit nisl. Nullam vel urna bibendum, faucibus massa quis, pulvinar nunc. Duis enim dolor, eleifend vitae libero eu, semper bibendum turpis. Curabitur malesuada, lacus gravida laoreet placerat, sapien orci condimentum justo, nec varius ex massa sit amet arcu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla suscipit finibus neque, ut vehicula turpis feugiat quis. Suspendisse quis justo purus. Phasellus placerat nec dolor bibendum malesuada.

      Cras vitae libero sollicitudin, commodo augue a, ullamcorper nulla. Morbi egestas enim placerat turpis vehicula auctor. Nullam facilisis diam nulla, at ultrices enim eleifend et. Sed sodales dui sit amet nisl fringilla ultricies. Nunc eget nibh lacinia ante lobortis ultricies eget ut dolor. Suspendisse eget semper massa, a viverra tortor. Maecenas pharetra quam a ante interdum, vel malesuada dolor varius. Aliquam posuere orci tortor, sit amet congue diam fermentum nec. Suspendisse nec malesuada neque, eu suscipit turpis. Pellentesque rhoncus placerat tortor, ac tempus ante.
      
      Maecenas vitae metus iaculis erat egestas dictum. Fusce ut justo blandit dui laoreet viverra. In ut nunc ac risus vehicula blandit. Fusce vel risus nec purus faucibus aliquet. Mauris porttitor, libero a maximus sagittis, mauris metus porttitor quam, eget euismod sapien purus mollis lacus. Maecenas et sagittis velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu erat eget leo placerat convallis sed iaculis nibh. Quisque mollis euismod ligula, quis sagittis sapien porttitor in. Quisque ut orci laoreet, pellentesque nisl sed, placerat ex. Cras varius dui et enim aliquam, in blandit est laoreet. Duis a nunc tellus. Fusce vitae fermentum neque. Etiam condimentum porta nulla sit amet lacinia. Mauris laoreet, lacus et ullamcorper efficitur, lorem nisi convallis erat, ut suscipit odio augue elementum augue. Cras ac est mattis, imperdiet est sed, accumsan est.
      
      Ut aliquam lorem nec venenatis viverra. Mauris sed bibendum tellus. Mauris tincidunt efficitur semper. Aliquam erat volutpat. In nec pulvinar purus, congue finibus libero. Vivamus ut magna eu ex gravida lacinia. Nam magna purus, consectetur nec efficitur at, egestas vel lorem. Suspendisse laoreet risus vitae euismod posuere. Nulla ut vehicula eros. Praesent porttitor orci nec ex bibendum, ut iaculis lectus posuere. Integer varius dolor urna, sed maximus orci ornare vel. Donec mattis augue ac turpis imperdiet, eu congue libero luctus. Praesent semper augue sed sollicitudin vehicula. Cras eu justo ut mi pharetra rutrum eget nec neque.
      
      </p>
    </div>
<%- include('includes/end.ejs'); %>
