<%- include('includes/head.ejs'); %>
</head>
<%- include('includes/navigation.ejs'); %>
<body>
    <!--div class="main">
        <form class="col s12" action="/clienti/<% if (editing) { %>edit-customer<% } else { %>add-customer<% } %>" method="POST">
            <div class="row">
                <div class="input-field col m6 s12">
                    <input type="text" class="validate" name="name" id="name" value="<% if (editing) { %><%= clienti.name %><% } %>">
                    <label for="surname">Nome</label>
                </div>
            </div>
            <div class="row">
            <div class="input-field col m6 s12">
                <input type="text" class="validate" name="surname" id="surname" value="<% if (editing) { %><%= clienti.surname %><% } %>">
                <label for="surname">Cognome</label>
                
            </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <input type="hidden" value="<%= clienti.id %>" name="customerId" id="customerId">
                    <button class="btn" type="submit"><% if (editing) { %>Aggiorna cliente<% } else { %>Salva<% } %></button>
                </div>
            </div>
            
        </form>
    </div-->

 <%- include('includes/end.ejs'); %>